@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
*:focus {outline: 0;}

ul {list-style: none;}
a {text-decoration: none;}
button {background-color: transparent; cursor: pointer;}

body {background-color: #f4f4f4; font-family: 'Nanum Gothic', sans-serif;}

#regWrap {width: 390px; height: 844px; margin: auto; background-color: #fff; position: relative;}
#regWrap h1 {padding-top: 90px; text-align: center; font-size: 24px; font-weight: bold; color: #666;}
#termsTxt {width: 250px; height: 280px; margin: 45px 0 45px 50%; transform: translateX(-50%); resize: none;
    border: 1px solid #CDCDCD; border-radius: 5px; box-sizing: border-box; font-size: 5px;}